<footer class="py-2 footer" style="background-color: #007bff; color: white; position: relative; bottom: 0; width: 100%; margin-top: auto;">
  <div class="container text-center">
    <div class="footer-logo mb-2" style="color: white;">BrainyBean</div>
    <ul class="nav justify-content-center pb-2 mb-2">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-light">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Content</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Feedback</a></li>
    </ul>
    <div class="social-icons mb-2">
      <a href="#" class="icon-link mx-2 text-light"><i class="bi bi-facebook"></i></a>
      <a href="#" class="icon-link mx-2 text-light"><i class="bi bi-twitter"></i></a>
      <a href="#" class="icon-link mx-2 text-light"><i class="bi bi-instagram"></i></a>
      <a href="#" class="icon-link mx-2 text-light"><i class="bi bi-linkedin"></i></a>
    </div>
    <p>© 2025, BrainyBean</p>
  </div>
</footer>
